body {
  margin: 0;
  padding: 0;
}
main {                            /*привет, я*/
  font-family: monospace;
  font-size: 20px;
  padding: 10px;
  text-align: right;
}
#wrapper {                        /*выравнивание по центру*/
  min-width: 800px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 15px;
}
#leftheader {               /* зеленый квадрат под именем*/
  float: left;
  width: 700px;
  height: 250px;
  background: #2F4F4F;
}
header {                /*Lara Noel*/
  font-size: 55px;
  text-align: center;
  color: #F5F5F5;
  margin-top: 20px;
}
#rightheader {                   /* зеленый квадрат под фото*/
  margin-left: 700px;
  height: 250px;
  background: #2F4F4F;
}
.avatar {                 /*фото*/
  padding: 10px;
}
#left {                     /* светло зеленый блок*/
  float: left;
  width: 400px;
  padding: 10px;
  background: rgba(95, 158, 160, 0.5);
  height: 720px;
  color: #2F4F4F;
}
.podzagolovok {           /*подзаголовок*/
  font-size: 20px;
  font-family: unset;
  margin-left: 15px;
}
h2 {                          /*заголовок*/
  margin-left: 15px;
}
.text_lef {                   /*текст*/
  margin-left: 15px;
}
#prav1 {               /* правая сторона*/
  margin-left: 420px;
  padding: 10px;
  background: #F5F5F5;
  height: 60px;
}
#polosa1 {
  margin-left: 420px;
  background: rgba(95, 158, 160, 0.5);
  height: 3px;
}
#prav2 {
  margin-left: 420px;
  padding: 10px;
  background: #F5F5F5;
  height: 265px;
}
#polosa2 {
  margin-left: 420px;
  background: rgba(95, 158, 160, 0.5);
  height: 3px;
}
#prav3 {
  margin-left: 420px;
  padding: 10px;
  background: #F5F5F5;
  height: 264px;
}
#polosa3 {
  margin-left: 420px;
  background: rgba(95, 158, 160, 0.5);
  height: 3px;
}
#prav4 {
  margin-left: 420px;
  padding: 10px;
  background: #F5F5F5;
  height: 60px;
}
#footer {                 /*зеленый футер*/
  clear: both;
  height: 100px;
  background: #2F4F4F;
  margin-bottom: 10px;
}
#pole_portf {           /*вторая страница большой блок*/
  float: left;
  width: 980px;
  padding: 10px;
  background: #F5F5F5;
  height: 350px;
}
button:before {  
  content:'';  
  position: absolute;  
  top: 0;  
  left: 0;  
  width: 0;  
  height: 60px;  
  background: rgba(47,79,79,0.3);  
  border-radius: 5px;  
  transition: all 2s ease; 
}
button:hover {
  cursor: pointer;
}
button:hover:before {
  width: 100%;
}
.knopka_glavn {
  height: 60px;  
  border: none;  
  background: #2F4F4F;  
  color: #F5F5F5;  
  padding: 20px;  
  font-size: 30px;  
  border-radius: 5px;  
  position: relative;  
  box-sizing: border-box;  
  transition: all 500ms ease;
}
.knopka_futer {
  height: 40px;  
  border: none;  
  background: #2F4F4F;     
  position: relative;  
  box-sizing: border-box;  
  transition: all 500ms ease;
  float: right;
  margin: 30px;
}

/* Стили всплывающего окна по-умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
    pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 200px;
      margin: 500px auto; /* отображение окна по центру */
  }
}
/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #2F4F4F;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* Стили заголовка окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
    color: #F5F5F5;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #F5F5F5;
    text-shadow: 0 1px 0 #F5F5F5;
    opacity: .5;
    text-decoration: none;
}
/* Стили для закрывающей кнопки в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* Стили блока основного содержимого окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}